@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --line-color: #e5e7eb;
}

html.dark {
  --line-color: rgba(255, 255, 255, 0.2);
}

.borderBlack {
  @apply border border-black/10;
}

.vertical-timeline-custom .vertical-timeline-element-content {
  margin-left: -2rem !important;
  margin-right: -2rem !important;
}

.vertical-timeline-custom .vertical-timeline-element-date {
  margin-left: 4rem !important;
  margin-right: 4rem !important;
}
